/* Globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 60px;
}

h3{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

footer{
    background-color: rgb(178, 221, 178);
    text-align: center;
    color: #8e3209;
    margin: 0px;
}

a{
    text-decoration: none;
    color:#119103;
}

/* Parte superior */

.header{
    background-color: rgb(178, 221, 178);
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.logo-hortinha-amiga{
    height: 80px;
}

/* Darkmode */
.darkmode{
    background-color: #11b200;
    border: #11b200;
    display: flex;
    float: right;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    color: white;
}
.desligado{
    display: none;
}

.darkmode:hover{
    background-color: #8e3209;
    cursor: pointer;
}

/* Menu */
.menu{
    background-color: #119103;
    padding: 1%;
    text-align: center;
}

.menu-item{
    padding: 3%;
    margin: 5%;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    font-size: 25px;
}

.menu-item:hover{
    color:#8e3209;
}

/* Home */
#slide-home{
    width: 100%;
    height: 400px;
    background-color: rgb(175, 44, 44);
}

.titulo{
    margin: 2%;
    text-align: center;
    color:#11b200;
}

.container-home{ 
    background-color: aquamarine;
}

.home-imagem{
    width: 30%;
    float: right;
    border-radius: 5%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 2%;
}

.home-texto{
    margin-left: 10%;
    margin-top: 2%;
}

.home-imagem2{
    width: 30%;
    float: left;
    border-radius: 5%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 5%;
}

.home-texto2{
    margin-right: 10%;
    margin-top: 3%;
}

.home-imagem-final{
    width: 100%;
    margin-top: 2%;
}

/* Sobre nós */
.logo-desktops-container{
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
}

.logo-desktops{
    width: 30%;
}

.texto-desktops{
    margin-left: 10%;
    margin-right: 10%;
}

.grupo-desktops{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    color:#119103;
}

.fotos-desktops{
    width: 90%;
    border-radius: 5%;
}

/* Contato */
.contato{
    width:21%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.titulo-contato{
    font-family: Arial, Helvetica, sans-serif;
    color:#8e3209;
    margin-top: 20px;
}

.fale-conosco{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.campo-formulario{
    background-color: rgb(178, 221, 178);
    border:none;
    padding: 3%;
    margin-top: 3%;
    width: 100%;
}

.botao-enviar{
    background-color: #119103;
    width: 30%;
    margin-top: 3%;
    padding: 5%;
    border: none;
    color: white;
    font-weight: bold;
}

.botao-enviar:hover{
    background-color: #8e3209;
    width: 30%;
    margin-top: 3%;
    padding: 5%;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Login */

.login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.login{
    width: 30%;
    margin-bottom: 3%;
}

.login-ajude{
    width: 30%;
    padding-top: 5%;
    text-align: center;
    color:#119103;
}

.login-icone{
    margin-top: 2%;
    width: 50%;
    height: 52%;
}